@charset "UTF-8";
/* CSS Document */
/* Reset */
*{margin: 0;
   Padding: 0;
   box-sizing:border-box;
}
a{ 
	text-decoration: none;
	color: inherit;
}
a:hover{
	text-decoration: underline;
	color:darkslategray;
	
}
a:active{
	background-color: cadetblue;
}
a:visited{
	text-decoration: underline;
	background-color: cadetblue;
}
ul{
	list-style: none;
}
a{
	text-decoration:none;
	color:inherit;
}
/*base Styles */
body {
	font-family: brandon-grotesque, sans-serif;
	font-weight: 100;
	font-style: normal;
	Margin:0px;
	
/*	font-family: brandon-grotesque, sans-serif;
	font-weight: 100;
	font-style: normal;
	mid-height: 5000px;
	Margin-left: 10px;
	padding-top: 0px;*/
}
.top {
	background:url("../img/homepagebackround.JPG") no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	width:100%;
	min-height:100%;
}

#wrapper {
	width:100%;
	margin: 0 auto;
}

#container {
	text-align:center;
}

header {
  padding: 20px;
  text-align: center;
  font-size: 30px;
  top: 0;

	}
.logo {
	margin:auto;
	display:flex;
	justify-content:center;

}
/*.Logo_image{
	display:flex;
	height:20px;
	/*float:left;*/

.nav{
  display: flex;
  justify-content: center;
  list-style: none; 
  gap:15px;
 margin: 0;
}

.nav_list{
	display:flex;
	column-gap: 40px;
	
}
.nav_item {
	
}

.nav_link {
	color: rgba(255,255,255, 0.75);
	font-size: 15px;
	transition: all 0.4s;
	position: relative;
}
.nav_link:hover,
.nav_link:focus {
	color: rgba(255,255,255, 0.75);
}
.nav_link::after {
	content: '';
	height: 2px;
	width: 100%;
	backround-color: rgb(0,183,255);
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: all 0.2s;
	opacity: 0;
	pointer-events: none;
}
.nav_link:hover::after{
	opacity: 1;
}
.btn {
	color:black;
	background-color: whitesmoke;
	padding: 7px 18px;
	border-radius: 1000px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	transition: all 0.2s;
}
/* intro */
.intro{
	margin: 4em 4em 8em 4em;
	padding: 1em; 

	color:black;
	background-color: aliceblue
}
.nav-reservation{
	display: flex;
	justify-content:center;
	margin-bottom: 80px;
	
	
}
/*user actions for reservation*/

 .btn-reservation button:a { 
	text-decoration: none;
	color: inherit;
}
.btn-reservation button:hover{
	text-decoration: underline;
	color:darkslategray;
}
.btn-reservation button:active{
	background-color: cadetblue;
}
.btn-reservation button:visited{
	text-decoration: underline;
	background-color: cadetblue;
}

.header_content {
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content:space-between;
	row-gap:18px;
	min-height: 60px;
	width: 100%;
	margin:auto;
	padding: 0 30px;
}

.navigation-bar a{
	font-family:brandon-grotesque, sans-serif;
	font-size:20px;
	color:White;
	text-decoration: none;
	margin: 0 15px; /* edits spacing between nav links */
}

.nav_list {
	display:flex;
	column-gap: 20px;
}
/*gallery box style info */

/*gallery wrapper */

.gallery-wrapper {
	display: flex;
	justify-content: center;
	gap: 25px;
	padding: 5% 0;
	
}
	
.gallery-image{
  Background-color: #ffffff;
  border:none;
  box-shadow: 0 10px 25px;
  margin-bottom: 25px;
	
}

.desc {
  padding: 15px;
  text-align: center;
	
}

* {
 /* box-sizing: border-box;*/

}
.wide-Textbox {
	margin:10% 10%;
	align-content: center;
	padding:5px 10px 20px 10px;
	background-color: #2A6068;
	opacity: .8;
	border: none;
	width:inherit;
	
	
	
}
#widecolumn{
	Width:100%;
	height:100px;
	align-content: center;
	margin:auto;
	text-align: center;
	text-decoration-color: black;
	padding: 0;
	
	
}
.nav-menu {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	
}
.btn-reservation button{
	background-color: whitesmoke;
	padding: 7px 18px;
	border-radius: 1000px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	transition: all 0.2s;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	
}

.gallery-logo-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 60px;
	flex-wrap:wrap;
	padding: 40px 40px 140px 40px;
	width: 100%;


}
.gallery-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	
	
}
.gallery-logo img {
	width: 150px;
	height:auto;
	display: block;
}

/* responsive gallery goes below */
	
/* gallery box style info ends (w3schools) */

/* footer wrapper */
.footer-box{
	background-color: white;
	width: 100%;
	margin:auto;
	flex-wrap: wrap;
	padding: 50px 50px 20px 50px;
	flex-direction: column;
	justify-content: center;
	
}
.footer-columns{
	display:flex;
	justify-content: space-between;
	align-content: center;
	flex-wrap:wrap;
}
.column {
	width: 200px;
	height:auto;
	display: block;
	flex-wrap: wrap;
	align-content:center;
	justify-content: space-between;
	
}
.footer-logo{
	width:200px;
	height:auto;
	margin-bottom: 10px;
	
}
.award-logo{
	width:200px;
	height:auto;
	margin-bottom: 10px;
	
}
.social {
	width:200px;
	height:auto;
	margin-bottom: 10px;
	
}
.copywrite{
	padding: 50px 20px 20px;
	width:100%;
	justify-content: center;
	align-content: center;

}

	
/* footer style info ends */

h1 {
	color:white;
}
	
li {list-style-type: none;
	display: inline;
	margin-right:15px;
}
#footer-text {
	font-size: 14px;
	color: black;
	
}