@charset "UTF-8";
/* CSS Document */
body{
background: #F4F1DE;
font-family: "mixta-didone", serif;
font-weight: 400;
font-style: normal;
line-height: 1.7em;
}
#wrapper{
	margin: 0 5%;
	max-width: 1240px;
}
.weekly {
	width:45%;
	float: left;
	margin: 0 5%;
}
#project{
	width:45%;
	float:left;
}
h1 {
font-family: "mixta-didone-alt", serif;
font-weight: 900;
font-style: normal;
color:#E07a5f;
Margin-top: 2em;
margin-bottom: 2em;
}
h2 {
font-family: "mixta-didone", serif;
font-weight: 700;
font-style: normal;
color: #2a6068;
font-size: 1.5em;
}
h3 {
font-family: "mixta-didone-alt", serif;
font-weight: 500;
font-style: normal;
color: #3d405b;
}
h4 {
font-family: "mixta-didone", serif;
font-weight: 700;
font-style: normal;
color: #e07a5f;
font-size: 1.5em;
text-decoration-line: underline
	
}
dt {
font-family: "mixta-didone", serif;
font-weight: 600;
font-style: normal;
color:#E07A5F;
}
a:link {
	Color:#3d405b;
	text-decoration:none;
}
a:visited {
	Color:#E07a5f;
}
a:hover {
	Color:#81b29a;
}
a:active{
	color:#30777C;
}
.demo{
	color:#2a6068;
}